[default]
# See https://docs.python.org/3.8/library/logging.html#levels for logging levels
logging_level = ERROR
# seconds between scheduler runs - make this much longer if you see performance issues or just want to reduce power
sleep_timer = 10

[goodwe]
account = user@example.com
systemid = aaabbbbb-cccc-dddd-eeee-ffffffgggggg
password = darkHorseBatteryStaple123

[pvoutput]
apikey =
systemid =
donation_made = True
# minutes, the default for Goodwe - PVOutput allows 5-15
schedule_time = 10

# if you have donated, and have a battery, set this to True and you can insert the State of Charge into a field
soc_enable = True
# if soc_enable is true, set this to the field you want to insert the SoC value into.
soc_field = v7